---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="PartyRock Hackathon">
  <main class="space-y-20">
    <Container>
      <section class="text-center py-16">
        <h2 class="text-5xl font-bold mb-4">Hackathon Prizes</h2>
        <p class="mb-8 text-xl">
          Win amazing prizes by participating in our hackathon. Showcase your
          skills and win big!
        </p>

        <img
          alt="Party Rock"
          class="mx-auto mt-8"
          height={300}
          src="/party-rock.png"
          style={{
            aspectRatio: "400/300",
            objectFit: "cover",
          }}
          width={400}
        />
        <button
          type="submit"
          class="w-full py-5 mt-10 bg-zinc-900 rounded-[14px] justify-center inline-flex"
        >
          <div class="text-center text-white text-xl font-normal leading-7">
            Register Now!
          </div>
        </button>
      </section>
      <section class="py-16 px-8">
        <h3 class="text-3xl font-bold mb-8">Prize Details</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          <div class="p-4 rounded-lg bg-lime">
            <h4 class="font-bold text-xl mb-2">First Place</h4>
            <p class="mb-4">
              The winning team will receive $10,000 in cash, latest tech
              gadgets, and exclusive mentorship sessions with industry leaders.
            </p>
          </div>
          <div class="p-4 rounded-lg bg-lime">
            <h4 class="font-bold text-xl mb-2">Second Place</h4>
            <p class="mb-4">
              The runner-up team will receive $5,000 in cash, high-quality
              development tools, and online courses to sharpen their skills.
            </p>
          </div>
          <div class="p-4 rounded-lg bg-lime">
            <h4 class="font-bold text-xl mb-2">Third Place</h4>
            <p class="mb-4">
              The third place team will receive $2,500 in cash, tech swag, and
              discounts for various development platforms.
            </p>
          </div>
        </div>
      </section>
      <section class="bg-black text-white py-16 px-8 text-center">
        <h3 class="text-3xl font-bold mb-4">Ready to win?</h3>
        <p class="mb-8">
          Join the hackathon today and take your chance to win incredible
          prizes!
        </p>
      </section>
    </Container>
  </main>
</Layout>
