---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import Speaker from "../components/Speaker.astro"
import Contact from "../components/Contact.astro"
import Schedule from "../components/Schedule.astro"
---

<Layout title="Positivus">
  <main class="space-y-20">
    <Hero />
    <Speaker />
    <Schedule />
    <Contact />
  </main>
</Layout>
