---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Speaker from "../components/Speaker.astro";
import Email from "../components/Email.astro";
import Schedule from "../components/Schedule.astro";
import Sponsor from "../components/Sponsor.astro";
---

<Layout title="GenAI Tour 2024">
  <main class="space-y-20">
    <Hero />
    <Speaker />
    <Schedule />
    <Sponsor />
    <Email />
  </main>
</Layout>
