---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sponsor">
  <main class="space-y-20 flex">
    <Container>
      <div class="py-8 px-4 mx-auto flex flex-col max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
            Paket Sponsor
          </h2>
          <p class="mb-5 font-light text-gray-500 sm:text-xl">
            Kami terbuka untuk mendapatkan dukungan sponsor dari korporasi,
            entitas pemerintah, dan individu untuk membantu kami menjadikan
            acara ini sukses. Berikut adalah beberapa paket sponsorship yang
            dapat kami tawarkan.
          </p>

          <p class="mb-5 font-light text-gray-500 sm:text-xl">
            Nilai sponsorship dapat berupa barang contoh seperti merchandise, 
            voucher, produk electronik, dan lain sebagainya sesuai nilai 
            paket yang tertera di bawah.
          </p>
        </div>
        <div
          class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0"
        >
          <!-- Pricing Card -->
          <div
            class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow"
          >
            <h3 class="mb-4 text-2xl font-semibold">Platinum</h3>

            <div class="flex justify-center items-baseline my-8">
              <span class="mr-2 text-4xl font-extrabold">Rp 20.000.000</span>
              <span class="text-gray-500">/$1,300</span>
            </div>
            <!-- List -->
            <ul role="list" class="mb-8 space-y-4 text-left">
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                  class="flex-shrink-0 w-5 h-5 text-green-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path></svg
                >
                <span>Semua keuntungan pada Paket Gold </span>
              </li>
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                  class="flex-shrink-0 w-5 h-5 text-green-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path></svg
                >
                <span>Logo ukuran besar pada berbagai media publikasi </span>
              </li>
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                  class="flex-shrink-0 w-5 h-5 text-green-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path></svg
                >
                <span>Satu slot sesi (30 menit)</span>
              </li>
            </ul>
          </div>
          <!-- Pricing Card -->
          <div
            class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow"
          >
            <h3 class="mb-4 text-2xl font-semibold">Gold</h3>

            <div class="flex justify-center items-baseline my-8">
              <span class="mr-2 text-4xl font-extrabold">Rp 10.000.000</span>
              <span class="text-gray-500">/$630</span>
            </div>
            <!-- List -->
            <ul role="list" class="mb-8 space-y-4 text-left">
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                  class="flex-shrink-0 w-5 h-5 text-green-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path></svg
                >
                <span>Semua keuntungan pada paket Silver</span>
              </li>
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                  class="flex-shrink-0 w-5 h-5 text-green-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path></svg
                >
                <span>Logo ukuran sedang pada berbagai media publikasi </span>
              </li>
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                  class="flex-shrink-0 w-5 h-5 text-green-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path></svg
                >
                <span>Video sponsor diputar ketika event (2 menit) </span>
              </li>
            </ul>
          </div>
          <!-- Pricing Card -->
          <div
            class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow"
          >
            <h3 class="mb-4 text-2xl font-semibold">Silver</h3>

            <div class="flex justify-center items-baseline my-8">
              <span class="mr-2 text-3xl font-extrabold">Rp 5.000.000</span>
              <span class="text-gray-500">/$350</span>
            </div>
            <!-- List -->
            <ul role="list" class="mb-8 space-y-4 text-left">
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                  class="flex-shrink-0 w-5 h-5 text-green-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path></svg
                >
                <span
                  >Logo kecil pada berbagai media publikasi (web, spanduk,
                  barang promosi, dan slide)
                </span>
              </li>
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                  class="flex-shrink-0 w-5 h-5 text-green-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path></svg
                >
                <span
                  >Penyebutan merek oleh MC dan moderator selama acara
                </span>
              </li>
            </ul>
          </div>
        </div>

        <div class="mx-auto max-w-screen-md text-center mt-10">
          <p class="mb-5 font-light text-gray-500 sm:text-xl">
            Jangan ragu untuk menghubungi kami untuk pertanyaan atau opsi 
            sponsorship lain yang dapat dilakukan. Kami membuka peluang 
            seluasnya untuk kerjasama.
          </p>
        </div>
        <a
          href="mailto:rizafahmi@gmail.com"
          class="text-black hover:text-white mt-20 w-2/6 bg-lime hover:bg-black focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-lg px-5 py-2.5 text-center ml-auto mr-auto"
          >Hubungi Kami</a
        >
      </div>
    </Container>
  </main>
</Layout>
