---
import Container from "./Container.astro"
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row">
    <div class="row items-center py-5 md:pr-16 md:w-4/12 md:py-10">
      <div class="text-center md:text-left space-y-3 bg-lime">
        <h2 class="text-4xl font-medium leading-none sm:text-6xl">
          Kontak Kami
        </h2>
      </div>
    </div>
    <div class="flex items-center py-5 md:w-8/12 md:py-10">
      <p class="text-xl font-normal leading-7 text-center md:text-left">
        Ingin ikut serta menjadi penyelenggara GenAI Tour 2024? Atau kamu punya
        ide menarik lainnya, jangan ragu untuk menghubungi kami.
      </p>
    </div>
  </div>

  <div
    class="relative flex flex-col items-center md:flex-row my-6 bg-zinc-100 rounded-[45px]"
  >
    <div class="row items-center py-12 px-4 md:px-20 md:w-8/12 md:py-10">
      <div class="space-y-8 md:w-full">
        <a
          href="mailto:dimaskhosy1@gmail.com"
          class="w-full py-5 bg-zinc-900 rounded-[14px] justify-center gap-2.5 inline-flex"
        >
          <div class="text-center text-white text-xl font-normal leading-7">
            Kirim pesan ke dimaskhosy1@gmail.com
          </div>
        </a>
      </div>
    </div>
    <div class="hidden md:grid md:justify-items-end md:w-4/12 md:py-2">
      <img src="./sponsors/contact.svg" alt="c" width="80%" />
    </div>
  </div>
</Container>
